.content__text_right {
  display: grid;
  grid-template-columns: 40% 50% 10%;
  grid-template-areas: ". text .";
  position: relative;

  p {
    grid-area: text;
    font-size: 20px;
    line-height: 2;
    font-weight: 100;
  }
}

.content__text_left {
  display: grid;
  grid-template-columns: 10% 50% 40%;
  grid-template-areas: ". text .";
  position: relative;

  p {
    grid-area: text;
    font-size: 20px;
    line-height: 2;
    font-weight: 100;
  }
}

.float_image__container {
  width: 25vw;
  height: 25vw;
  border: 1px solid black;
  border-radius: 1000px;
  position: absolute;
  top: 20%;
  left: 5%;

  img {
    position: inherit;
    height: 150px;
    width: auto;
    left: 5%;
    top: calc(50% - 75px);
  }
}

.gallery {
  display: grid;
  width: 100%;
  .gallery-item {
    grid: 1 / 1;
  }
}
.gallery-columns-2 {
  grid-template-columns: 1fr 1fr;
}
.gallery-columns-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery-columns-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 991px) {
  .float_image__container {
    width: 25vw;
    height: 25vw;
    top: 20%;
    left: 5%;

    img {
      height: 80px;
      left: 5%;
      top: calc(50% - 40px);
    }
  }
}

@media screen and (max-width: 590px) {
  .content__text_right {
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". text .";
  }
  .content__text_left {
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". text .";
  }

  .float_image__container {
    width: 45vw;
    height: 45vw;
    top: 95%;
    left: 5%;

    img {
      height: 160px;
      left: 5%;
      top: calc(50% - 80px);
    }
  }
}
