footer {
  position: relative;
  z-index: 9;
  margin-top: 7vh;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 120px;
  padding: 10px;
  img {
    max-height: 100%;
  }
}

.info__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  border-top: 1px solid black;
  min-height: 80px;

  p {
    padding: 10px;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 0;
    color: black;
    text-align: center;
  }
}


@media screen and (max-width: 768px) {
  footer {
    margin-top: -100px;
  }
}